body {
    margin: 0;
}

#map {
    height: 100%;
    position: absolute;
    width: 100%;
}

.maps-frame {
    height: 430px;
    width: 100%;
}

.kd-tabbed-vert.header-links .kd-tabbutton a {
    color: #757575;
    display: inline-block;
    height: 100%;
    padding: 0 24px;
    width: 100%;
}

.kd-tabbed-vert.header-links .kd-tabbutton {
    padding: 0;
}

.kd-tabbed-vert.header-links .kd-tabbutton.selected a {
    color: #03a9f4;
}

.kd-tabbed-vert.header-links .kd-tabbutton a:focus {
    text-decoration: none;
}

p.top-desc {
    padding: 1em 1em .1em 1em;
}

p.bottom-desc {
    padding: 0em 1em 1em 1em;
}

.popup {
    width: 600px;
    height: 320px;
    border-width: 0;
    border-style: none;
}
.popup-mobile {
    width: 300px;
    height: 240px;
    border-width: 0;
    border-style: none;
}